<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator - Angular JS Service</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body ng-app="MyCalculator" ng-controller="CalController">
    <input type="number" placeholder="Enter a Number" ng-model="inputNum">
    <button ng-click="squaring()">x<sup>2</sup></button>
    <p>{{result}}</p>
</body>
<!--script src="service.js"></script-->
<script src="controller_s1.js"></script>
</html>